.img_header {
    margin-left: 10rem;
}

.btn_login_auth {
    height: 2.5rem;
    border: 1px solid rgb(216, 108, 108);
    margin-right: 3rem;
    padding: 0 2rem;
    font-size: 1.1rem;

}

.btn_logout_auth {
    height: 2.5rem;
    border: 1px solid rgb(216, 108, 108);
    padding: 0 2rem;
    font-size: 1.1rem;
    margin-right: 5rem;
}

.tabs {
    margin-top: 2rem;

    div:nth-child(1) {
        margin-top: 0 !important;
    }

    p:nth-child(1) {
        font-size: 1.3rem !important;

    }
}

.carousel_img {
    div:nth-child(1) {
        text-align: center;
        align-items: center;
        display: flex !important;
        justify-content: center;
        background-size: cover;
    }

    .img {
        background-size: cover;
    }
}

.list {
    margin: 2rem 4rem !important;

    .card_item {}

    .img {}

    .book_ticket {
        background-color: red;
        text-align: right;
        justify-items: right;
    }
}

//modal detail 
.modal_detail {
    .modal_title {
        color: rgb(221, 25, 25);
        text-transform: uppercase;
        text-align: center;
        font-size: 1.9rem;
        padding-bottom: 1rem;
    }

    .col_content {
        .movie_title_name {
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            font-size: 1.5rem;

        }

        .movie_title {
            font-weight: 600;
            padding-top: 1rem;
            font-size: 1.1rem;

            span {
                font-weight: 400;
                padding-left: 1rem;
                font-size: 1.1rem;
            }
        }

        .btn {
            justify-content: center;
            text-align: center;
            align-items: center;

            .book_ticket {
                margin-top: 1rem;
                background-color: rgb(53, 197, 197);
                padding: 0 2rem;
                height: 3rem;
                font-size: 1.3rem;
                border-radius: 2rem;
                border: none;

                &:hover {
                    color: white;
                }
            }
        }

    }

    .content {
        padding-top: 2rem;
        font-size: 1.1rem;
        width: 70%;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }
}

//bookticker
.step {
    margin-top: 3rem;
    padding: 1rem 19rem;

}

.step_1 {
    h1 {

        text-align: center;
        text-transform: uppercase;
        color: rgb(206, 64, 64);
        font-size: 2rem;
        margin: 1rem auto 0;
    }

    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid rgb(219, 42, 42);
    width: 70%;

    .step_ {
        .step_img {

            margin: 2rem 0rem;
            text-align: center;
            align-items: center;
        }

        .step_content {
            margin-top: 3rem;



            h2 {
                font-size: 1.4rem;
                padding-bottom: 2rem;
            }

            .panel {
                font-size: 1.2rem;

                .btn_time {
                    margin-left: 1rem;
                }
            }

        }
    }


}