.row_header {
    background-color: rgb(129, 209, 209);
    align-items: center;
    text-align: center;
    .col_right {
    .btn_login_auth {
            height: 2.5rem;
            border: 1px solid rgb(216, 108, 108);
            margin-right: 3rem;
            padding: 0 2rem;
            font-size: 1.1rem;
    
        }
    
        .btn_logout_auth {
            height: 2.5rem;
            border: 1px solid rgb(216, 108, 108);
            padding: 0 2rem;
            font-size: 1.1rem;
        }
    }
}