$primary-color-1: #993e4d;
$primary-color-2: #ae4450;
$primary-color-3: #c34a55;
$primary-color-4: #db5e6c;
$primary-color-5: #e37484;
$primary-color-6: #ec98a5;
$primary-color-7: #fae6e9;

$secondary-color-1: #555250;
$secondary-color-2: #696563;
$secondary-color-3: #b1adab;
$secondary-color-4: #d6d2cf;
$secondary-color-5: #e7e4e1;
$secondary-color-6: #f3efec;
$secondary-color-7: #fbf7f4;

$neutral-color-1: #33312f;
$neutral-color-2: #56534f;
$neutral-color-3: #b9b8b6;
$neutral-color-4: #b9b8b6;
$neutral-color-5: #fbfbfb;
$neutral-color-6: #f3efec;
$neutral-color-7: #ffffff;

$background: #ffffff;
