.table_list {
    margin-top: 2rem;
    border: 1px solid rgb(128, 72, 72);
    border-radius: 10px;
    height: 68vh;
}
.btn_add{
    float: right;
    margin-top: 2rem;
    background-color: rgb(158, 95, 95);
    color: white;
    margin-bottom: 2rem;
}